body {
    background-image: url("NessusLogo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: 194px 194px;
}

tr:nth-child(even) {
    background-color:  #ddeaff;
}